<div class="container" style="margin-bottom:5em">
  <h1>Angular Material</h1>
  <form>
    <!--  Checkbox -->
    <div class="row">
      <mat-checkbox 
      #showDetails
      [checked]="isChecked"
      [value]="data"
      (change)="isChanged($event)">Solved</mat-checkbox>

      <div *ngIf="showDetails.checked">Some Details...</div>
    </div>
  <!--  radio button -->
    <div class="row">
      <mat-radio-group value="1">
      <mat-radio-button value="0">Male</mat-radio-button>
      <mat-radio-button value="1">Female</mat-radio-button>
      </mat-radio-group>
    </div>

  <!--  Select box -->
  <div class="row">
      <mat-select placeholder="Favorite Color">
        <mat-option *ngFor="let color of colors" [value]="color.id">
          {{color.name}}
        </mat-option>
      </mat-select>
  </div>   


  <!--Input element -->
  <div class="row">
      <mat-form-field class="example-full-width">
        <input 
        ngModel name="username" 
        #username 
        matInput placeholder="Favorite food" minlength="10"
         required="required" matTooltip="Info about the action">

        <mat-hint>Enter a unique name</mat-hint>
        <span matSuffix>@ikooba.com</span>
        <span matPrefix>admin.</span>
        <mat-error *ngIf="username.invalid && username.errors.required">The username field is required</mat-error>
      </mat-form-field>
  </div>

  <div class="row"> 
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment" matTextareaAutosize></textarea>
      </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="example-full-width">
      <input matInput 
        [matDatepicker]="picker" 
        placeholder="Choose a date" 
        [min]="minDate" [max]="maxDate"
        (focus) = "picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker touchUi="true"></mat-datepicker>
    </mat-form-field>
  </div>
  </form>

<h2>Icons</h2>
  <mat-icon>home</mat-icon>

<h2>Buttons</h2>
<button mat-raised-button>Button 1</button>
<button color="warn" mat-raised-button>warn</button>
<button color="accent" mat-raised-button>Accent</button>
<button color="primary" mat-raised-button>Primary</button>
<button mat-fab><mat-icon>check</mat-icon></button>
<button color="primary" mat-fab><mat-icon>home</mat-icon></button>

<h2>Tooltip</h2>

<button mat-raised-button
        matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Action
</button>

<h2>Tabs</h2>
  <mat-tab-group>
    <mat-tab label="First"> 
        <h4>Tab 1</h4>
        <button mat-raised-button
              matTooltip="Info about the action"
              aria-label="Button that displays a tooltip when focused or hovered over">
          Action
        </button>
    </mat-tab>

    <mat-tab label="Second">
      <h4>Tab 2</h4>
      <div class="row">
       content 2
      </div>
    </mat-tab>

    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
</div>